@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@font-face {
	font-family: "miami";
	src: url("assets/fonts/miami.ttf");
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #ffffff;
	--secondary-color: #e6533c;
	--text-color: #ffffff80;
}
a {
	text-decoration: none;
	display: block;
}
p {
	color: var(--text-color);
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-color);
	font-family: "Inter", sans-serif;
}
img {
	max-width: 100%;
}
li {
	list-style: none;
}
body {
	font-family: "Inter", sans-serif;
	background-color: black;
}
.inner {
	max-width: calc(1140px - 40px);
	margin: 0 auto;
}

.section-title,
.section-subtitle {
	text-align: center;
}
.section-title {
	font-size: clamp(32px, 6vw, 48px);
	font-weight: 900;
	text-transform: capitalize;
	margin-bottom: 15px;
}

/* 
==========================
navigation style starts here
=============================
*/

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 50px 20px;
}
nav {
	padding: 4px;
	border: 1px solid #ffffff1a;
	border-radius: 46px;
}
nav ul {
	display: flex;
	list-style: none;
	gap: 50px;
}
nav ul li a {
	text-transform: capitalize;
	color: #fff;
	padding: 8px 20px;
	border-radius: 46px;
}
nav ul li:hover a {
	background-color: var(--secondary-color);
}
nav ul li a.active {
	background-color: var(--secondary-color);
}

#check,
.checkbox {
	display: none;
}
.checkbox div {
	display: flex;
	justify-content: flex-end;
	height: 3px;
	width: 30px;
	background-color: #fff;
	margin: 7px;
	transition: all 0.5s ease;
}
.checkbox:hover > div.one {
	width: 30px;
}
.checkbox:hover > div.two {
	width: 25px;
}
.checkbox:hover > div.three {
	width: 20px;
}

/* 
=====================
 hero section starts here 
*/
.hero-area {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	overflow: hidden;
	align-items: center;
	gap: 80px;
}
.hero-left {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 50%;
}
.hero-heading {
	color: var(--primary-color);
	font-weight: 900;
	font-size: clamp(43px, 7vw, 78px);
	line-height: 93.6px;
}
.hero-heading span {
	font-family: miami;
	font-weight: 100;
	font-family: "Pinyon Script", cursive;
}
.hero-buttons {
	display: flex;
	gap: 10px;
}
.btn {
	display: block;
	padding: 16px 40px;
	color: var(--primary-color);
	text-transform: capitalize;
	border-radius: 46px;
	text-align: center;
	white-space: pre;
}
.btn-fill {
	background-color: var(--secondary-color);
}
.btn-outline {
	border: 1px solid var(--text-color);
}
.hero-right {
	background-image: url(images/Images-2.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	min-height: 582px;
	width: 50%;
	position: relative;
}
.badge-workout {
	width: 193px;
	height: 98px;
	border-radius: 12px;
	border: 1px solid #ffffff1a;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 13px;
	background-color: #393939b7;
	position: absolute;
	top: 0%;
	right: 50%;
	transform: translate(116%, 124%);
}
.badge-tutorial {
	height: 96px;
	width: clamp(150px, 55%, 206px);
	background-color: #3030308a;
	border-radius: 12px;
	border: 1px solid #ffffff1a;
	display: flex;
	padding: 13px;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-140%, -63%);
}

.badge-tutorial .circle {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

/* 
===============================
change your habit style starts here 
==============================
*/
.change-your-habit {
	padding: 60px 20px 00 20px;
}
.habits {
	display: flex;
	text-align: center;
	padding-top: 60px;
}
.habit-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
}
.habit-item h3 {
	margin-top: 20px;
	text-transform: capitalize;
}

.habit-item img {
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

/* =======================
extra-mile style starts here
===========================
*/

.extra-mile {
	padding: 50px;
	display: flex;
	justify-content: space-between;
	background-color: #222;
	border-radius: 16px;
	margin: 100px auto;
	max-width: 1060px;
}
.extra-mile-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}
.extra-mile-text > .section-title,
.extra-mile-text > .section-subtitle {
	text-align: left;
}
.extra-mile-img img {
	width: 366px;
	height: 312px;
	object-fit: cover;
	border-radius: 16px;
}
/*
 ===================
 trainings and experience style 
 =========================
 */

.gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(2, 200px);
	margin-top: 50px;
	padding: 20px;
}
.gallery-item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.gallery-item h4 {
	z-index: 0;
	position: absolute;
	color: rgba(255, 255, 255, 0.7);
	font-family: var(--inter);
	text-transform: capitalize;
	font-weight: 300;
}
.item-1 {
	grid-column-start: 1;
	grid-column-end: 3;
	position: relative;
}

.item-1 h4 {
	bottom: 20px;
	left: 20px;
}

.item-1::before {
	content: "";
	display: block;
	clear: both;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(6, 255, 210, 0.5);
}
.item-2 {
	grid-column-start: 3;
	grid-column-end: 7;
	position: relative;
}
.item-2 h4 {
	top: 20px;
	left: 20px;
}
.item-2::before {
	content: "";
	display: block;
	clear: both;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 0, 0, 0.3);
}
.item-3 {
	grid-column-start: 7;
	grid-column-end: 9;
	position: relative;
}
.item-3 h4 {
	bottom: 20px;
	left: 20px;
}
.item-3::before {
	content: "";
	display: block;
	clear: both;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

.item-4 {
	grid-column-start: 1;
	grid-column-end: 4;
	position: relative;
}

.item-4 h4 {
	top: 20px;
	right: 20px;
}
.item-4::before {
	content: "";
	display: block;
	clear: both;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.item-5 {
	grid-column-start: 4;
	grid-column-end: 6;
	position: relative;
}
.item-5 h4,
.item-6 h4 {
	bottom: 20px;
	left: 20px;
}
.item-5::before {
	content: "";
	display: block;
	clear: both;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(66, 255, 0, 0.3);
}
.item-6 {
	grid-column-start: 6;
	grid-column-end: 9;
	position: relative;
}
.item-6::before {
	content: "";
	display: block;
	clear: both;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 71, 255, 0.3);
}
/*
========================
bmi calculator style starts here
==========================
*/

.bmi-calculator {
	padding: 100px 10px;
}
.bmi-inner {
	max-width: 600px;
	margin: 0 auto;
}
.bmi-inner > .section-title,
.bmi-inner > .section-subtitle {
	text-align: left;
}
.bmi-chart-form {
	background: rgba(34, 34, 34, 1);
	padding: 100px 20px;
}
.chart-and-form {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 40px;
}
.chart h3,
.form h3 {
	font-family: var(--inter);
	font-size: clamp(20px, 5vw, 28px);
	font-weight: 900;
}
.chart table {
	margin-top: 30px;
	font-family: var(--inter);
	padding: 10px;
	text-align: left;
}
.chart table,
th,
td {
	color: white;
	padding: 10px;
	border: 1px solid gray;
	border-collapse: collapse;
}
.chart table td {
	color: rgba(255, 255, 255, 0.5);
}

.form form {
	display: grid;
	gap: 20px;
	margin-top: 30px;
}
#height {
	grid-column-start: 1;
	grid-column-end: 2;
}
#weight {
	grid-column-start: 2;
	grid-column-end: 3;
}
#age {
	grid-column-start: 1;
	grid-column-end: 2;
}
#sex {
	grid-column-start: 2;
	grid-column-end: 3;
}
#factor {
	grid-column-start: 1;
	grid-column-end: 3;
}

.form form input[type="text"],
input[type="number"],
select {
	padding: 14px;
	font-family: var(--inter);
	font-size: 20px;
	text-transform: capitalize;
	border-radius: 12px;
	border: none;
	background-color: #383838;
	display: flex;
}
.form form input::placeholder,
select {
	color: white;
}
.form form input[type="submit"] {
	border: none;
	font-size: 20px;
	margin-top: 20px;
}
/* our team section start here
=============================
 */
.our-team {
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0 20px;
}

.team {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 300px);
	gap: 20px;
	background-color: #383838;
	padding: 20px;
	border-radius: 12px;
}
.team .member img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.team .member {
	position: relative;
}

.team .member::after {
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #00000048;
}

.team .member .member-info {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
/* 
======================
footer style starts here 
=========================*/
.footer {
	background-color: #191919;
	padding: 100px 20px 0 20px;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
.foo-item:last-child {
	display: flex;
	justify-content: space-around;
}
.foo-item {
	width: 50%;
}
.foo-item img {
	width: 200px;
}
.foo-item p {
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.8;
	line-height: 24px;
}
.foo-item ul li a {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.8;
	color: var(--text-color);
	line-height: 24px;
	text-transform: capitalize;
}
.copyright-area {
	margin-top: 40px;
	border-top: 1.5px solid var(--text-color);
	padding: 30px 0;
}
.copyright-area p {
	font-weight: 300;
}
